<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnectorServlet</servlet-name>
        <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
        <init-param>
            <description>
                Path to configuration file can be relative path inside application,
                absolute path on local file system or UNC path.
            </description>
            <param-name>XMLConfig</param-name>
            <param-value>/WEB-INF/config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>filter</servlet-name>
        <servlet-class>Controller.ManageBlogController.filternewsadminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fillterbook</servlet-name>
        <servlet-class>Controller.ManageBookController.filterbookadminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fillter book</servlet-name>
        <servlet-class>Controller.ManageBookController.filterbookadminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>client book</servlet-name>
        <servlet-class>Controller.ClientBook.showlistbookcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>client news</servlet-name>
        <servlet-class>Controller.ClientNews.showlistnewscontrollerclient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filter book 1</servlet-name>
        <servlet-class>Controller.ClientBook.fillterbookclient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clientnews</servlet-name>
        <servlet-class>Controller.ClientNews.fillterclientnews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showList</servlet-name>
        <servlet-class>Controller.ManageBlogController.showListNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteBlogs</servlet-name>
        <servlet-class>Controller.ManageBlogController.deleteBlogsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBlog</servlet-name>
        <servlet-class>Controller.ManageBlogController.postNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlog</servlet-name>
        <servlet-class>Controller.ManageBlogController.editBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateBlog</servlet-name>
        <servlet-class>Controller.ManageBlogController.updateBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewblogdetails</servlet-name>
        <servlet-class>Controller.ManageBlogController.showBlogDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readTeacher</servlet-name>
        <servlet-class>Controller.ManageEmployeeController.readEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setRoleAdmin</servlet-name>
        <servlet-class>Controller.ManageEmployeeController.setRoleByAdmin</servlet-class>
    </servlet>
    <context-param>
        <param-name>org.apache.tomcat.util.http.Parameters.MAX_COUNT</param-name>
        <param-value>10000</param-value>
    </context-param>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.ManageLogin.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotLogout</servlet-name>
        <servlet-class>Controller.ManageLogin.ForgotLogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.ManageLogin.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseController</servlet-name>
        <servlet-class>Controller.ManageCourseController.DeleteCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>Controller.ManageCourseController.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourse</servlet-name>
        <servlet-class>Controller.ManageCourseController.UpdateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAdmin</servlet-name>
        <servlet-class>Controller.ManageEmployeeController.addAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>Controller.UserSiteController.profileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editUser</servlet-name>
        <servlet-class>Controller.UserSiteController.editUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetail</servlet-name>
        <servlet-class>Controller.UserSiteController.orderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Controller.ManageBlogController.searchNewsFromAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSelect</servlet-name>
        <servlet-class>Controller.ManageBlogController.deleteSelectNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listbook</servlet-name>
        <servlet-class>Controller.ManageBookController.showListBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>Controller.ManageBookController.deleteBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>Controller.ManageBookController.postCourseBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editbook</servlet-name>
        <servlet-class>Controller.ManageBookController.editCourseBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>Controller.ManageBookController.updateBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>Controller.ManageBookController.searchBookFromAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete1</servlet-name>
        <servlet-class>Controller.ManageBookController.deleteSelectBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginGoogle</servlet-name>
        <servlet-class>Controller.UserSiteController.LoginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyController</servlet-name>
        <servlet-class>Controller.UserSiteController.VerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controller.ManageCourseController.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listcourseofbook</servlet-name>
        <servlet-class>Controller.ManageBookController.showBookCourseHomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addnewstype</servlet-name>
        <servlet-class>Controller.ManageBlogController.addnewstypecontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayVideo</servlet-name>
        <servlet-class>Controller.CourseVideoController.displayVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>Controller.UserSiteController.Category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayUser</servlet-name>
        <servlet-class>Controller.ManagerUserController.displayUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UDUser</servlet-name>
        <servlet-class>Controller.ManagerUserController.UDUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewclientbookdetails</servlet-name>
        <servlet-class>Controller.ClientBook.showCourseBookDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filternewsclient</servlet-name>
        <servlet-class>Controller.ClientNews.fillterclientnews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewCourseVideo</servlet-name>
        <servlet-class>Controller.CourseVideoController.ManageCourseVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCourseVideo</servlet-name>
        <servlet-class>Controller.CourseVideoController.SearchCourseVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewVideo</servlet-name>
        <servlet-class>Controller.CourseVideoController.viewVideoAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addVideo</servlet-name>
        <servlet-class>Controller.CourseVideoController.addDeleteVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePass</servlet-name>
        <servlet-class>Controller.ManageLogin.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentExport</servlet-name>
        <servlet-class>Controller.UserSiteController.ExportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UDBan</servlet-name>
        <servlet-class>Controller.ManagerUserController.UDBan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listBan</servlet-name>
        <servlet-class>Controller.ManagerUserController.listBan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseSearch</servlet-name>
        <servlet-class>Controller.UserSiteController.courseSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayDocument</servlet-name>
        <servlet-class>Controller.ManageDocumentController.displayDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editDocument</servlet-name>
        <servlet-class>Controller.ManageDocumentController.editDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteDocument</servlet-name>
        <servlet-class>Controller.ManageDocumentController.deleteDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updeteDocument</servlet-name>
        <servlet-class>Controller.ManageDocumentController.updeteDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postDocument</servlet-name>
        <servlet-class>Controller.ManageDocumentController.postDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchDocument</servlet-name>
        <servlet-class>Controller.ManageDocumentController.searchDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCourseDetail</servlet-name>
        <servlet-class>Controller.ManageCourseController.GetCourseDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload imge</servlet-name>
        <servlet-class>Controller.ManageBlogController.uploadImageMce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload thumbnail</servlet-name>
        <servlet-class>Controller.ManageBlogController.uploadImgThumbnail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>course details client</servlet-name>
        <servlet-class>Controller.ClientCourse.showListCourseClientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload img</servlet-name>
        <servlet-class>Controller.ManageBlogController.uploadImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchnewsclient</servlet-name>
        <servlet-class>Controller.ClientNews.searchclientnews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpay</servlet-name>
        <servlet-class>Controller.ManageOrderController.vnpay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterOrder</servlet-name>
        <servlet-class>Controller.ManageOrderController.RegisterOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelOrderUser</servlet-name>
        <servlet-class>Controller.UserSiteController.cancelOrderUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecourse</servlet-name>
        <servlet-class>Controller.ManageCourseController.DeleteCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postnews</servlet-name>
        <servlet-class>Controller.ManageBlogController.postNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search news Ajax</servlet-name>
        <servlet-class>Controller.ManageBlogController.searchNewsAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajax news client</servlet-name>
        <servlet-class>Controller.ClientNews.searchAjaxNewsClients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search name book clients</servlet-name>
        <servlet-class>Controller.ClientBook.searchbookclients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Setting clients footer</servlet-name>
        <servlet-class>Controller.Clients.settingClientFooter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>client footer homepage</servlet-name>
        <servlet-class>Controller.ClientBook.footerClients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcoursetoprocess</servlet-name>
        <servlet-class>Controller.ManageCourseController.AddCourseToProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update2</servlet-name>
        <servlet-class>Controller.ManageCourseController.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDocument</servlet-name>
        <servlet-class>Controller.ManageDocumentController.updateDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>purchasedCourse</servlet-name>
        <servlet-class>Controller.UserSiteController.purchasedCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home page</servlet-name>
        <servlet-class>Controller.Clients.homepageClients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show list narbar</servlet-name>
        <servlet-class>Controller.Clients.showlistclientnarbar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit narbar clients</servlet-name>
        <servlet-class>Controller.Clients.editNarbarClients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search ajax admin news</servlet-name>
        <servlet-class>Controller.ManageBlogController.searchNewsAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>show narbar user</servlet-name>
        <servlet-class>Controller.Clients.showlistuserclients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showListQuickLink</servlet-name>
        <servlet-class>Controller.Clients.settingQuickLink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editquicklink</servlet-name>
        <servlet-class>Controller.Clients.editQuickLink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UDTeacher</servlet-name>
        <servlet-class>Controller.ManageEmployeeController.UDEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchPath</servlet-name>
        <servlet-class>Controller.UserSiteController.searchPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseDetails</servlet-name>
        <servlet-class>Controller.UserSiteController.courseDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setting banner</servlet-name>
        <servlet-class>Controller.Clients.settingBanner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>post book</servlet-name>
        <servlet-class>Controller.ManageBookController.postCourseBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>Controller.ManageCourseController.AddCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showList</servlet-name>
        <url-pattern>/showlistnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteBlogs</servlet-name>
        <url-pattern>/deletenews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBlog</servlet-name>
        <url-pattern>/postnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlog</servlet-name>
        <url-pattern>/editblogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateBlog</servlet-name>
        <url-pattern>/updatenews</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>Controller.ManageOrderController.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setRoleAdmin</servlet-name>
        <url-pattern>/setRoleAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>displayCourse</servlet-name>
        <servlet-class>Controller.UserSiteController.displayCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comboCourse</servlet-name>
        <servlet-class>Controller.UserSiteController.comboCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homePage</servlet-name>
        <servlet-class>Controller.UserSiteController.homePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>learningPath</servlet-name>
        <servlet-class>Controller.UserSiteController.learningPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProcess</servlet-name>
        <servlet-class>Controller.ManageCourseController.CreateProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProcess</servlet-name>
        <servlet-class>Controller.ManageCourseController.AddProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessController</servlet-name>
        <servlet-class>Controller.ManageCourseController.ProcessController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProcess</servlet-name>
        <servlet-class>Controller.ManageCourseController.EditProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProcess</servlet-name>
        <servlet-class>Controller.ManageCourseController.UpdateProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProcess</servlet-name>
        <servlet-class>Controller.ManageCourseController.DeleteProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourse</servlet-name>
        <servlet-class>Controller.ManageCourseController.SearchCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProcess</servlet-name>
        <servlet-class>Controller.ManageCourseController.SearchProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDeleteSelect</servlet-name>
        <servlet-class>Controller.ManageCourseController.CourseDeleteSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessDeleteSelect</servlet-name>
        <servlet-class>Controller.ManageCourseController.ProcessDeleteSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToProcess</servlet-name>
        <servlet-class>Controller.ManageCourseController.AddToProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseToProcess</servlet-name>
        <servlet-class>Controller.ManageCourseController.TempController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/coursecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAdmin</servlet-name>
        <url-pattern>/addAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editUser</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayCourse</servlet-name>
        <url-pattern>/displayCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetail</servlet-name>
        <url-pattern>/orderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/ordermanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSelect</servlet-name>
        <url-pattern>/deletenewsselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listbook</servlet-name>
        <url-pattern>/showlistbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/deletebooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/postbcousrebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editbook</servlet-name>
        <url-pattern>/editbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/updatebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/searchbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete1</servlet-name>
        <url-pattern>/deletebookselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourse</servlet-name>
        <url-pattern>/updatecourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comboCourse</servlet-name>
        <url-pattern>/comboCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homePage</servlet-name>
        <url-pattern>/homePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>learningPath</servlet-name>
        <url-pattern>/learningPath</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProcess</servlet-name>
        <url-pattern>/createProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProcess</servlet-name>
        <url-pattern>/addProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessController</servlet-name>
        <url-pattern>/processController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProcess</servlet-name>
        <url-pattern>/editprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProcess</servlet-name>
        <url-pattern>/updateprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProcess</servlet-name>
        <url-pattern>/deleteprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProcess</servlet-name>
        <url-pattern>/searchprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDeleteSelect</servlet-name>
        <url-pattern>/coursedeleteselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessDeleteSelect</servlet-name>
        <url-pattern>/processdeleteselect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToProcess</servlet-name>
        <url-pattern>/addtoprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseToProcess</servlet-name>
        <url-pattern>/tempcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourse</servlet-name>
        <url-pattern>/searchcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readTeacher</servlet-name>
        <url-pattern>/readTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginGoogle</servlet-name>
        <url-pattern>/loginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listcourseofbook</servlet-name>
        <url-pattern>/showlistcourseofbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addnewstype</servlet-name>
        <url-pattern>/addnewstype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filter</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fillterbook</servlet-name>
        <url-pattern>/searchtypeofbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fillter book</servlet-name>
        <url-pattern>/filterbookadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>client book</servlet-name>
        <url-pattern>/clientbookcourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>client news</servlet-name>
        <url-pattern>/showclientnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filter book 1</servlet-name>
        <url-pattern>/filterbookclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clientnews</servlet-name>
        <url-pattern>/filterclientnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectorServlet</servlet-name>
        <url-pattern>/ckfinder/core/connector/java/connector.java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/Category/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayUser</servlet-name>
        <url-pattern>/displayUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UDUser</servlet-name>
        <url-pattern>/UDUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filternewsclient</servlet-name>
        <url-pattern>/filternewsclient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewCourseVideo</servlet-name>
        <url-pattern>/viewCourseVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCourseVideo</servlet-name>
        <url-pattern>/searchCourseVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewVideo</servlet-name>
        <url-pattern>/viewVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addVideo</servlet-name>
        <url-pattern>/addVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentExport</servlet-name>
        <url-pattern>/export</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UDBan</servlet-name>
        <url-pattern>/UDBan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listBan</servlet-name>
        <url-pattern>/listBan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseSearch</servlet-name>
        <url-pattern>/courseSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayDocument</servlet-name>
        <url-pattern>/displayDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editDocument</servlet-name>
        <url-pattern>/editDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteDocument</servlet-name>
        <url-pattern>/deleteDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updeteDocument</servlet-name>
        <url-pattern>/updeteDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postDocument</servlet-name>
        <url-pattern>/postDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchDocument</servlet-name>
        <url-pattern>/searchDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCourseDetail</servlet-name>
        <url-pattern>/getcoursedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload imge</servlet-name>
        <url-pattern>/uploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload thumbnail</servlet-name>
        <url-pattern>/uploadThumbnail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>course details client</servlet-name>
        <url-pattern>/clientcousredetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload img</servlet-name>
        <url-pattern>/UploadImageTinyMCE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchnewsclient</servlet-name>
        <url-pattern>/searchnewsclients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpay</servlet-name>
        <url-pattern>/vnpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterOrder</servlet-name>
        <url-pattern>/RegisterOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelOrderUser</servlet-name>
        <url-pattern>/cancelOrderUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecourse</servlet-name>
        <url-pattern>/deletecourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postnews</servlet-name>
        <url-pattern>/postnewsagain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search news Ajax</servlet-name>
        <url-pattern>/searchNewsAjaxadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajax news client</servlet-name>
        <url-pattern>/searchAjaxNewsClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search name book clients</servlet-name>
        <url-pattern>/searchnamebookclients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Setting clients footer</servlet-name>
        <url-pattern>/settingClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>client footer homepage</servlet-name>
        <url-pattern>/clientfooter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcoursetoprocess</servlet-name>
        <url-pattern>/addcoursetoprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update2</servlet-name>
        <url-pattern>/update2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDocument</servlet-name>
        <url-pattern>/updateDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>purchasedCourse</servlet-name>
        <url-pattern>/purchasedCourse/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home page</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show list narbar</servlet-name>
        <url-pattern>/showlistnarbar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit narbar clients</servlet-name>
        <url-pattern>/editnarbaradmins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search ajax admin news</servlet-name>
        <url-pattern>/searchAjaxNewsAdmins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>show narbar user</servlet-name>
        <url-pattern>/shownarbaruser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayVideo</servlet-name>
        <url-pattern>/displayVideo/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewblogdetails</servlet-name>
        <url-pattern>/viewblogdetails/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showListQuickLink</servlet-name>
        <url-pattern>/showListQuickLink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editquicklink</servlet-name>
        <url-pattern>/editquicklink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UDTeacher</servlet-name>
        <url-pattern>/UDTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchPath</servlet-name>
        <url-pattern>/searchPath</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseDetails</servlet-name>
        <url-pattern>/courseDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setting banner</servlet-name>
        <url-pattern>/showbanner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>post book</servlet-name>
        <url-pattern>/postcoursebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewclientbookdetails</servlet-name>
        <url-pattern>/viewclientbookdetails/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/addCourse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
